.header {
  height: 5.2em;
  padding: 0px 14%;
  margin: 0 auto;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 10;
  border-bottom: 1px solid rgba(229, 231, 235, var(--divider-opacity));
}

@media (max-width: 600px) {
  .header {
    height: 6em;
  }
}
