.footer {
  flex-direction: row;
  display: flex;
  justify-content: space-around;
  padding: 3em 0;
  margin-top: 2.5em;
  text-align: center;
  border-top: 1px solid rgba(229, 231, 235, var(--divider-opacity));
}

.social {
  display: flex;
  gap: 15px;
  justify-content: space-around;  
}

@media (max-width: 600px) {
  .footer {
    padding: 2em;
    margin-top: 3em;
  }
}
