.app {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  color: var(--clr-fg);
  background-color: var(--clr-bg);
}

.light {
  --clr-bg: #fcfcfc;
  --clr-bg-alt: #009bff;
  --clr-fg: #555;
  --clr-fg-alt: #000B49;
  /* --clr-primary: #9B0000; */
  --clr-primary: #0062ff;
   /* rgb(186, 82, 85); */
  --box-color: white;
  --divider-opacity: 0.8;
  /* #034694; */
  /* #A22323; */
  --shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.dark {
  --clr-bg: rgb(21, 21, 21);
  --clr-bg-alt: #e8f0ff;
  --clr-fg: rgba(255, 255, 255, 0.60);
  --clr-fg-alt: white;
  /* #FEC260; 88304E, F05454*/
  --clr-primary: #009bff;
  /* #0598c5; */
  --hobby-box: white;
  --box-color: rgb(41, 41, 41);
  --divider-opacity: 0.15;
  --shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

main {
  max-width: 1200px;
  width: 95%;
  margin: 0 auto;
}

.Cont {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}


.section {
  margin-top: 5em;
}

.section__title {
  text-align: center;
  margin-bottom: 1em;
  text-transform: uppercase;
}

.center {
  display: flex;
  align-items: center;
}

.link {
  color: var(--clr-primary);
  padding: 0 0 0.3em 0;
  position: relative;
}

.link:hover {
  color: var(--clr-primary);
}

.link::before {
  content: '';
  display: inline;
  width: 0%;
  height: 0.2em;
  position: absolute;
  bottom: 0;
  background-color: var(--clr-primary);
  transition: width 0.2s ease-in;
}

.link:hover::before,
.link:focus::before {
  width: 100%;
}

.link--nav {
  color: var(--clr-fg);
  font-weight: 500;
}

.link--icon {
  color: var(--clr-fg);
}

.btn {
  display: block;
  cursor: pointer;
  padding: 0.8em 1.4em;
  font-weight: 500;
  font-size: 0.95rem;
  text-align: center;
  color: var(--clr-bg);
  background-color: var(--clr-primary);
  width: fit-content;
  border-radius: 15px;
}

.btn--outline:hover,
.btn--outline:focus {
  box-shadow: rgba(0, 0, 0, 0.15) 2px 3px 3px 2px;
}

.btn--plain {
  text-transform: initial;
  background-color: var(--clr-bg-alt);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  border: 0;
}

.btn--plain:hover {
  transform: translateY(-4px);
}

.btn--icon {
  padding: 0;
}

.btn--icon:hover,
.btn--icon:focus {
  color: var(--clr-primary);
}

.btn--icon:active {
  transform: translateY(-5px);
}

@media (max-width: 600px) {
  .section {
    margin-top: 4em;
  }
}
